body {
    background-color: black;
    color: white;
}

.navbar {
    background-color: black;
}

.title {
    color: white;
}

.user {
    padding-right: 25px;
}

.profilePic {
    max-width: 6%;
    max-height: 2%;
    padding-right: 1%;
}

.profilePage {
    max-width: 50%;
    max-height: 25%;
    padding: 1%;
}

.secondary {
    font-size: xx-large;
    font-weight: bold;
}