<!DOCTYPE html>
<html lang="en">

    <%- include('../partials/head.ejs', { pageName :  "Create New Tutorial" }) %>
    
<body>
    <%- include('../partials/nav.ejs', { user : user }) %>


    <h1>Log in here: </h1>
    <form method="POST" action="/login">
        <!-- method => POST - attach the data to post body rather than in the url query string(GET request) -->
        <!-- action => destination for the post req -->

        <div>
            <label for="email"> Email address: </label>
            <input id="email" name="email" type="text" />
        </div>
        <div>
            <label for="password"> Password: </label>
            <input id="password" name="password" type="text" />
        </div>

        <input type="submit" value="Login">
    </form>
    <% for(let i = 0; i < 50; i++) { %>
        <br/>
    <% } %>
</body>
</html>